* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 242, 245);
}

section {
    margin: auto;
    width: 90%;
}

footer {
    margin: auto;
    width: 100%;
}

.up-part {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.iphone {
    max-height: 582px;
    width: 382px;
    height: 582px;
}

.ip-image {
    width: 382px;
    max-width: 382px;
    height: 582px;
    background-image: url('https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png');
    background-size: cover;
    background-position: right;
}

.ip-image img {
    margin-left: 94px;
    margin-top: 24px;
}

.box {
    width: 350px;
    max-width: 350px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

section .first-box{
    width: 100%;
    height: 380px;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(219,219,219,1);
}

section .second-box {
    margin-top: 10px;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgba(38,38,38,1);
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(219,219,219,1);
}


.insta-image {
    margin-top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-input {
    margin-top: 30px;
    row-gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: 40px;
    width: 258px;
    padding: 9px;
    background-color: #FAFAFA;
    border-radius: 4px;
    border: 0.5px solid rgb(219,219,219);
}

.info-input input:focus {
    border: 0.5px solid rgb(219,219,219);
    outline: rgb(133,133,133) solid 0.2px;
}

.login-button {
    margin: 12px 12px 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button button {
    width: 258px;
    height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bolder;
    background-color: rgba(0, 149,256, 0.3);
    border: none;
    border-radius: 4px;
    color: #FFF;
}


.straight-line {
    text-align: center;
    height: 30px;
}

.straight-line h3 {
    display: inline-block;
    width: 24px;
    font-size: 13px;
}

hr {
    display: inline-block;
    width: 30%;
    border: none;
    border-top: 1px solid;
    font-size: 8px;
}

.fb-login {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center; 
    column-gap: 6px;
    font-size: 14px;
}

.no-underline a {
    text-decoration: none;
}

.fb-login a:visited {
    color: #385185;
}


.forget-account {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.forget-account a:visited {
    color: rgba(0,55,107,1);
}

.second-box a:visited{
    color: rgba(0,149,246,1);
}

.box h3 {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.third-box {
    display: flex;
    justify-content: center;
    align-items: center; 
    column-gap: 10px;
    color: rgba(38,38,38,1);
}

.down-part {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    color: #8e8e8e;
}

.first-line {
    padding: 0px 200px;
    max-width: 1600px;
}


div .single-hyperlink {
    display: inline-block;
    font-size: 13px;
    margin: 0px 8px 12px 8px;

}
.single-hyperlink a {
    text-decoration: none;
}

.single-hyperlink a:visited {
    color: #8e8e8e;
}

.second-line {
    font-size: 13px;
}

.second-line form {
    display: inline-block;
}

.language-form select {
    background-color: rgb(240, 242, 245);
    color: #8e8e8e;
    border: none;
    width: 70px;
    font-family: 'Times New Roman'

}

.second-line span {
    padding: 13px;
}
